

.uw_creative_services{

  .content .field-name-field-sph-copy h3{
    width:100%!important;
    float:none!important;
    margin-left:0!important;
    font-size: 1.80203rem;
  }

  $strat-plan-headings:$heading-font-family;

  // People cards
  .cs-card--grid{
    margin:2rem 0;
    display:block;
    @include media($medium-screen) {
      display:grid;
      grid-template-columns:50% 50%;
      grid-column-gap:1rem;
    }

  }
  .cs-team--card{
    margin-bottom:4rem;
    display:grid;
    grid-column-gap:1rem;
    @include media($xsmall-screen) {
      grid-template-columns: 35% auto;
      grid-row-gap:4rem;
    }
  }
  .cs-team--img{
    width: 70%;
    margin:0 auto;
    @include media($xsmall-screen) {
      width: 100%;
    }
  }
  .cs-team--info,
  .sph-stories--content .cs-team--info{
    h3{
      margin-top:0;
      font-size: modular-scale(4);
      font-weight:600;
    }
    p{
      font-size: modular-scale(-2);
      line-height:1.4;
      &.cs-team--title{
        line-height:1.25;
        font-size: modular-scale(1);
        margin-bottom:0.3rem;
      }
    }
  }
  .mid-content {
    padding: 0;
  }
  .content-body{
    padding:0;
  }

  // banner section
  .banner-item{
    img{
      width:inherit;
    }
    .banner-text {
      top:4rem;
      @include media($medium-screen) {
        top:10rem;
      }
      bottom:inherit;
      position:absolute;
    }
    .highlight {
      background: none;

      h2, h3, h4, h5, h6, p, div {
        color: #000;
        text-shadow: none;
      }

      h2 {
        font-size: modular-scale(4);
        @include media($medium-screen) {
          font-size: modular-scale(7);
        }
      }

      p {
        font-size: modular-scale(1);
        margin: 1.5rem auto;
        width: 100%;

        @include media($medium-screen) {
          font-size: modular-scale(3);
          line-height: 1.5;
        }
      }
    }
  }

  // Overall Styling

  h1,
  .entity-paragraphs-item h2,
  .entity-paragraphs-item h3,
  .entity-paragraphs-item h4,
  .entity-paragraphs-item h5,
  .entity-paragraphs-item h6 {
    color: $black;
    font-family: $condensed-font-family;
    line-height: $heading-line-height;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    clear: both;
    letter-spacing: 0.045rem;

  }
  .entity-paragraphs-item h2{
    color:$black;
    font-size: modular-scale(4);
    @include media($medium-screen) {
      font-size: modular-scale(5);
    }
    &.uw_utm_h2{
      color: $black;
      margin: 0 auto;
      padding: 2.3rem 0;

    }
  }
  .marketing-item{
    position:relative;
    color: $black !important;
    text-shadow: none;
    h2,h3{
      color:$black;
      text-shadow:none!important;
      font-size: modular-scale(5);
    }
    p {
      color: $black !important;
      text-shadow: none;
      //font-size: modular-scale(1);
      margin: 1.5rem auto;
      width: 80%;
      @include media($medium-screen) {
        //font-size: modular-scale(3);
        //line-height: 1.5;
      }
    }
  }

  // modules/_paragraphs.scss overwrites
  .marketing-item-wrap {
    background-color:white;
    &:before {
      display:none;
    }
    padding: 6rem 0rem;

  }
  .cs-section-title{
    font-size: modular-scale(5);
    color:$black;
    text-transform:uppercase;
    text-align:inherit;
    padding:0;
    margin-bottom:1rem;
  }
  .paragraphs-items > .entity:nth-child(even) {
    background-color: inherit;
  }
  .quick-link{
    padding:0.25rem;
    margin:0;
    min-height:9rem;

    @include media($medium-screen) {
      flex: 0 0 33%;

    }
    img{
      width:3rem;
      height:3rem;
      display:block;
      margin:0 auto 2rem auto;
    }
    a{
      padding:0.5rem;
      min-height:9rem;
      display:block;
      background-color:$uw-gold;
      font-weight:400;
      &:hover,
      &:focus{
        background-color:#000;
        color:$uw-gold;
        img{
          background-color:$uw-gold;
          border-radius:12%;

        }
      }
    }
    p{
      font-family:$strat-plan-headings;
    }
  }
  #quick-link-content{
    padding:0rem;
  }
  &.org_default{
    .pathway.has_image a p{
      font-size: modular-scale(0);
      line-height: 1.25;
    }

    .pathway-flex{
      min-height:9rem;
      padding-top:1rem;
      h3{
        font-size: modular-scale(4);
      }
    }
  }
  .default.pathway.has_image a {
    transition: background 0.3s linear;
    .pathway-flex{
      background:rgba(0,0,0,0.6);
      transition: background 0.3s linear;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.6) !important;
      transition: background 0.3s linear;
      .pathway-flex{
        background:rgba(0,0,0,0);
        transition: background 0.3s linear;
      }
    }
  }
}

